* {
  font-family: arial, sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-1 {
  background-color: #fff;
}

ol, ul, p {
  margin-left: 50px;
}

img {
  display: block;
  margin: 20px auto 10px;

  width: 500px;
  height: auto;
}

.link, .title {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

.title {
  font-size: 60px;
  padding: 30px;
  text-align: center;
}

.main.title {
  padding: 40px;

  background-color: #3affce;
  color: black;

  font-size: 80px;
}
