* {
  font-family: arial, sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-1 {
  background-color: #fff;
}

.link-list {
  margin-left: 50px;
}

img {
  width: 500px;
  height: auto;
}

.link, .title {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

.title {
  font-size: 40px;
  text-align: left;
}

.main.title {
  padding: 40px;

  background-color: #3affce;
  color: black;

  font-size: 80px;
  text-align: center;
}
